.container {
	position: absolute;
	top: 12%;
	left: 15%;
	width: 78%;
	height: 76%;
}

.user-info h1,
.profil-text {
	text-align: left;
}

.bonjour,
.user-name {
	font-size: 48px;
	letter-spacing: 2px;
	font-weight: 500;
}

.user-name {
	color: #ff0101;
}

.grid-container {
	width: 100%;
	height: 77%;
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.grid-container div {
	background: #fbfbfb;
	border-radius: 10px;
}

.icon {
	width: 60px;
	height: 60px;
	margin-right: 40px;
}

.container-info {
  width: 91px;
}

.container-info p {
	margin: 0 0 5px 0;
	text-align: left;
}

.calDyn {
	font-size: 20px;
	font-weight: 500;
}

.calFix {
	font-size: 14px;
	color: #74798c;
}

.graph-bar {
	grid-area: 1 / 1 / 3 / 4;
}

.calories,
.proteines,
.glucides,
.lipides {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

.calories {
	grid-area: 1 / 4 / 2 / 5;
}

.proteines {
	grid-area: 2 / 4 / 3 / 5;
}
.glucides {
	grid-area: 3 / 4 / 4 / 5;
}
.lipides {
	grid-area: 4 / 4 / 5 / 5;
}
.graph-line {
	grid-area: 3 / 1 / 5 / 2;
}
.graph-multi {
	grid-area: 3 / 2 / 5 / 3;
}
.graph-circle {
	grid-area: 3 / 3 / 5 / 4;
}