.title-notfound {
	font-size: 288px;
	color: #ff6060;
	margin: 100px auto 50px;
}

.txt-notfound {
	font-size: 36px;
	color: #ff6060;
	margin: 50px auto 100px;
}

.link-notfound {
	font-size: 18px;
	color: #ff6060;
}


