.header {
  background: #020203;
  width: 100%;
  max-width: 1440px;
  /* position: fixed;
  top: 0;
  z-index: 9999; */
}
.nav-container {
  width: 100%;
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo-header {
  width: 57px;
  height: 57px;
  background: #E60000;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-name {
  color: #E60000;
  font-size: 25px;
  font-weight: 400;
}

.liste-nav {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.items {
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
}



