.sidebar {
	background: #020203;
	position: fixed;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 117px;
}

.logo-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bg-logo {
	background: #ffffff;
	position: relative;
	width: 64px;
	height: 64px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 20px;
}

.logo-side {
	width: 36px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.copyright {
	width: 150px;
	height: 64px;
	position: absolute;
	bottom: 100px;
	transform: rotate(-90deg);
	font-size: 12px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
